﻿<footer>
    <div class="text-muted">
        <a href="https://legal.pserv.dev/en/legal" class="p-2">Legal Disclosure</a>
        <a href="https://legal.pserv.dev/en/dataSecurity">Data Security</a>
    </div>
    <div class="text-muted">Utilizes audio and stroke animations based on <a href="https://github.com/kanjialive/kanji-data-media">Kanji-alive</a></div>
    <div class="text-muted">Copyright © @DateTime.Now.Year Michael Schmitz</div>
    <div class="text-muted">Page licensed under GNU GPLv3 and available on <a href="https://gitlab.com/MichaelSchmitz/ankiwebcreator">GitLab</a>.</div>
</footer>
