﻿footer {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #d6d5d5;
    background-color: #f7f7f7;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
    font-size: small;
    align-items: flex-end;
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
}

footer > * {
    margin-left: 2rem;
}