﻿@inherits LayoutComponentBase
@using AnkiWebCreator.Pages.Authentication

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <Authentication />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
    <Footer />
</div>
