﻿@if (_Show)
{
    <div class="modal fade show" id="myModal" style=" display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@Title</h4>
                    <button type="button" class="close" data-dismiss="modal" @onclick="Toggle">&times;</button>
                </div>
                <div class="modal-body">
                    @ChildContent

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="Toggle">Abort</button>
                    <button type="button" class="btn btn-primary" @onclick="SuccessCallback">@SuccessText</button>
                </div>


            </div>

        </div>

    </div>
    <div class="modal-backdrop fade show"></div>
}

@code {
    private Boolean _Show { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string SuccessText { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback SuccessCallback { get; set; }

    public void Toggle()
    {
        _Show = !_Show;
    }

}