﻿@using AnkiDB.Services
@using System.Reflection
@inject AnkiService ankiService
@implements IDisposable

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">AnkiWebCreator @GetVersion()</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="deck/create">
                <span class="oi oi-plus" aria-hidden="true"></span> Create new deck
            </NavLink>
        </li>
        <AuthorizeView>
            @foreach (var deckName in ankiService.GetRegisteredDecks())
            {

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@GetNotesLink(deckName)">
                        <span class="oi oi-book" aria-hidden="true"></span> Notes: @deckName
                    </NavLink>
                </li>
            }
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private string GetNotesLink(string deckName)
    {
        return $"notes/{deckName}";
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        ankiService.DeckRegistered += DecksChanged;
    }

    void IDisposable.Dispose()
    {
        ankiService.DeckRegistered -= DecksChanged;
    }

    private void DecksChanged(object sender, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

    private string GetVersion()
    {
        var v = Assembly.GetEntryAssembly().GetName().Version;
        return $"v{v.Major}.{v.Minor}";
    }
}
