﻿@using AnkiDB.Models
<div class="row align-items-end pb-2">
    @for (var i = 0; i < valueFields.Length; i++)
    {
        var value = valueFields[i];
        var ii = i;
        if (Fields[ii] != "KanjiStrokes" && Fields[ii] != "KanjiAudio")
        {
        <div class="col col-lg-2 col-sm-6">
            <InputText Value="@value" class="form-control" ValueChanged="@(newValue => { valueFields[ii] = newValue; SetFields(); })" ValueExpression="() => value" />
        </div>
        }
    }
    <div class="col col-lg-2 col-sm-6">
        <InputText Value="@tags" class="form-control" ValueChanged="@(val => Value.Tags = $" {val} ")" ValueExpression="() => tags" />
    </div>
</div>
@code {
        [Parameter]
        public Note Value { get; set; }

        [Parameter]
        public string Name { get; set; }

        [Parameter]
        public List<string> Fields { get; set; }

    private bool UseGif { get; set; }

    private string[] valueFields;
    private string tags;
    private EventCallback<string> fieldCallback;
    private bool? isLoading = false;
    private string fileName;

    protected override void OnInitialized()
    {
        valueFields = new string[Fields.Count];
        var values = Value.FieldValues?.Split('\x1f') ?? Array.Empty<string>();
        for (var i = 0; i < Fields.Count; i++)
        {
            if (i < values.Length)
                valueFields[i] = values[i];
            else
                valueFields[i] = "";
        }

        tags = Value.Tags?.Trim() ?? "";
    }

    private void SetFields()
    {
        Value.SetFields(valueFields.ToList());
    }
}
