﻿@page "/authentication"
@using System.Web;
@using AnkiWebCreator.Data;
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <span class="ml-md-auto">Welcome @context.User.Identity.Name!</span>
        <a class="btn btn-primary"
           href="/logout?returnUrl=/"
           target="_top">Logout</a>
    </Authorized>
    <NotAuthorized>
        <EditForm Context="login" Model="@user" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <div class="ml-md-auto d-inline-flex">
                <ValidationMessage For="@(() => user.Name)" />
                <ValidationMessage For="@(() => user.Password)" />
            </div>
            <InputText id="username" class="ml-4" placeholder="Username" @bind-Value="user.Name" />
            <InputText id="password" type="password" class="ml-4" placeholder="Password" @bind-Value="user.Password" />
            
            <button class="btn btn-primary" type="submit">Login</button>
        </EditForm>
    </NotAuthorized>
</AuthorizeView>

@code {
    private SiteUser user = new();

    private void HandleValidSubmit()
    {
        NavigationManager.NavigateTo($"/login?paramUsername={encode(user.Name)}&paramPassword={encode(user.Password)}", forceLoad: true);
    }

    private string encode(string param)
    {
        return HttpUtility.UrlEncode(param);
    }
}