@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@font-face {
    font-family: 'Kanji';
    src: url('../fonts/mplus-1m-light-webfont.eot');
    src: url('../fonts/mplus-1m-light-webfont.woff2') format('woff2'),
        url('../fonts/mplus-1m-light-webfont.woff') format('woff'),
        url('../fonts/mplus-1m-light-webfont.ttf') format('truetype'),
        url('../fonts/mplus-1m-light-webfont.eot?#iefix') format('embedded-opentype');
}

html, body {
    font-family: 'Kanji', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
