﻿@page "/deck/edit/{name}"
@attribute [Authorize]

@using AnkiWebCreator.Data
@using AnkiDB.Services
@using AnkiDB.Models 
@using static AnkiDB.Models.JSON.Configuration
@inject AnkiService ankiService
@inject KanjiAliveDataService kanjiAliveDataService
@inject NavigationManager NavigationManager

<h3>Edit Deck</h3>

<EditForm EditContext="editContext" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row align-items-end">
        <div class="form-group col-lg-3 col-md-12">
            <label for="name">Name of deck</label>
            <InputText id="name" class="form-control" @bind-Value="ankiConfig.Name" />
        </div>
        <div class="form-group col-lg-6 col-md-12">
            <label for="fields">List of fields, seperated by ; (at least two), prefix hints with 'hint:'</label>
            <InputText id="fields" class="form-control" @bind-Value="ankiConfig.Fields" />
        </div>
        <div class="form-group col-lg-3 col-md-12">
            <label for="sortField">Field to sort by</label>
            <InputText id="sortField" class="form-control" @bind-Value="ankiConfig.SortField" />
        </div>
    </div>
    <div class="row align-items-end">
        <div class="form-group col-lg-6 col-md-12">
            <label for="questionAnswerTemplate">Question and answer template for cards</label>
            <InputText id="questionAnswerTemplate" class="form-control" @bind-Value="ankiConfig.QuestionAnswerTemplate" />
            <small id="questionAnswerTemplateHelp" class="form-text text-muted">Separate Question and answer with a pipe character ( | ).</small>
        </div>
        <div class="form-group col-lg-6 col-md-12">
            <label for="questionAnswerTemplateReversed">Question and answer template for cards (reversed, if not provided question and answer from previous template are reversed)</label>
            <InputText id="questionAnswerTemplateReversed" class="form-control" @bind-Value="ankiConfig.QuestionAnswerTemplateReversed" />
            <small id="questionAnswerTemplateReversedHelp" class="form-text text-muted">Separate Question and answer with a pipe character ( | ).</small>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="form-group col-lg-4 col-md-12">
            <label for="CSS">CSS used for displaying cards</label>
            <InputTextArea rows="10" id="CSS" class="form-control" @bind-Value="ankiConfig.CSS" />
        </div>
        <div class="form-group col-lg-4 col-md-12">
            <label for="LatexPre">Start expression for LaTeX based cards</label>
            <InputTextArea rows="10" id="LatexPre" class="form-control" @bind-Value="ankiConfig.LatexPreExpression" />
        </div>
        <div class="form-group col-lg-4 col-md-12">
            <label for="LatexPost">End expression for LaTeX based cards</label>
            <InputTextArea rows="10" id="LatexPost" class="form-control" @bind-Value="ankiConfig.LatexPostExpression" />
        </div>
    </div>
    <div class="row align-items-end">
        <div class="form-group col-lg-6 col-md-12">
            <label for="tags">Tags for deck</label>
            <InputText id="tags" class="form-control" @bind-Value="ankiConfig.Tags" />
        </div>
        <div class="form-group col-lg-3 col-md-6">
            <label for="font">Font to use for rendering</label>
            <InputText id="fields" class="form-control" @bind-Value="ankiConfig.Font" />
        </div>
        <div class="form-group col-lg-3 col-md-6">
            <label for="fontSize">Fontsize to use for rendering</label>
            <InputNumber id="fontSize" class="form-control" @bind-Value="ankiConfig.FontSize" />
        </div>
    </div>
    <div class="row align-items-end">
        <div class="form-group col-lg-3 col-md-6">
            <label for="orderNewReview">Order for new and review cards</label>
            <InputSelect id="orderNewReview" class="form-control" @bind-Value="ankiConfig.OrderNewAndReview">
                <option value="@OrderNewSpread.NewCardsDistribute" selected>Distribute new and review cards</option>
                <option value="@OrderNewSpread.NewCardsFirst">Show new before review cards</option>
                <option value="@OrderNewSpread.NewCardsLast">Show new after review cards</option>
            </InputSelect>
        </div>
        <div class="form-group col-lg-3 col-md-6">
            <label for="lookahead">Time to look ahead to review cards not yet due</label>
            <InputNumber id="lookahead" class="form-control" @bind-Value="ankiConfig.TimeForLookahead" />
        </div>
        <div class="form-group col-lg-3 col-md-6">
            <label for="orderNewReview">Time to show review cards</label>
            <InputNumber id="orderNewReview" class="form-control" @bind-Value="ankiConfig.TimeForShowingReviewedCards" />
        </div>
        <div class="form-group col-lg-3 col-md-6">
            <label for="maxDueNew">Maximum due time for new cards</label>
            <InputNumber id="maxDueNew" class="form-control" @bind-Value="ankiConfig.MaximumDueForNewCard" />
        </div>
    </div>
    <div class="row align-items-end">
        <div class="form-group col-lg-2 col-md-4">
            <div class="form-check">
                <InputCheckbox id="showNextReview" class="form-check-input" @bind-Value="ankiConfig.ShowNextReviewTime" />
                <label for="showNextReview" class="form-check-label">Show next review Time</label>
            </div>
        </div>
        <div class="form-group col-lg-2 col-md-4">
            <div class="form-check">
                <InputCheckbox id="remainingCards" class="form-check-input" @bind-Value="ankiConfig.ShowRemainingCardCount" />
                <label for="remainingCards" class="form-check-label">Show remaining card count</label>
            </div>
        </div>
        <div class="form-group col-lg-2 col-md-4">
            <div class="form-check">
                <InputCheckbox id="sortBackwards" class="form-check-input" @bind-Value="ankiConfig.SortBackwards" />
                <label for="sortBackwards" class="form-check-label">Sort deck backwards</label>
            </div>
        </div>
        <div class="form-group col-lg-2 col-md-4">
            <div class="form-check">
                <InputCheckbox id="current" class="form-check-input" @bind-Value="ankiConfig.AddToCurrent" />
                <label for="current" class="form-check-label">Add to active deck by default</label>
            </div>
        </div>
        <div class="form-group col-lg-2 col-md-4">
            <div class="form-check">
                <InputCheckbox id="collapsed" class="form-check-input" @bind-Value="ankiConfig.Collapsed" />
                <label for="collapsed" class="form-check-label">Open deck collapsed</label>
            </div>
        </div>
        <div class="form-group col-lg-2 col-md-4">
            <div class="form-check">
                <InputCheckbox id="autoplay" class="form-check-input" @bind-Value="ankiConfig.Autoplay" />
                <label for="autoplay" class="form-check-label">Autoplay audio</label>
            </div>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="form-group col-lg-4 col-md-6">
            <label for="description">Deck description</label>
            <InputText id="description" class="form-control" @bind-Value="ankiConfig.Description" />
        </div>
        <div class="form-group col-lg-4 col-md-6">
            <label for="maximumTimer">Maximum timer</label>
            <InputNumber id="maximumTimer" class="form-control" @bind-Value="ankiConfig.TimerMaximum" />
        </div>
        <div class="form-group col-lg-2 col-md-4">
            <div class="form-check">
                <InputCheckbox id="showTimer" class="form-check-input" @bind-Value="ankiConfig.ShowTimer" />
                <label for="showTimer" class="form-check-label">Show timer on answering</label>
            </div>
        </div>
        <div class="form-group col-lg-2 col-md-4">
            <div class="form-check">
                <InputCheckbox id="replay" class="form-check-input" @bind-Value="ankiConfig.ReplayOnAnswer" />
                <label for="replay" class="form-check-label">Replay audio when answered</label>
            </div>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="form-group col-lg-2 col-md-4">
            <div class="form-check">
                <InputCheckbox id="useKanjiStrokes" class="form-check-input" @bind-Value="useKanjiStrokes" />
                <label for="useKanjiStrokes" class="form-check-label">Use KanjiAlive data for strokes of Kanjiis (automatically adds hint field to front side, based on first field)</label>
            </div>
        </div>
        <div class="form-group col-lg-2 col-md-4">
            <div class="form-check">
                <InputCheckbox id="useKanjiAudio" class="form-check-input" @bind-Value="useKanjiAudio" />
                <label for="useKanjiAudio" class="form-check-label">Use KanjiAlive data for audio of Kanjiis (automatically adds field to front side, based on second field)</label>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Update deck</button>
</EditForm>

@if (submitted)
{
    <span class="alert alert-success mt-2 d-inline-block">Updated deck @ankiConfig.Name</span>
    <button class="btn btn-primary m-2" @onclick="GoToDeck">Go to deck</button>
}

@code {
    [Parameter]
    public string Name { get; set; }
    private bool submitted;
    private EditContext editContext;
    private AnkiConfigInputModel ankiConfig;
    private bool useKanjiStrokes;
    private bool useKanjiAudio;
    private CollectionInformation collection;

    protected override async Task OnInitializedAsync()
    {
        collection = await ankiService.GetCollectionInformation(Name);
        useKanjiStrokes = kanjiAliveDataService.IsEnabledStrokes(Name);
        useKanjiAudio = kanjiAliveDataService.IsEnabledAudio(Name);
        var model = collection.Models.First().Value;
        var configuration = collection.Configuration;
        var deck = collection.Decks.First().Value;
        var deckConfiguration = collection.DeckConfigurations.First().Value;
        ankiConfig = new(model.ModelID, deck.DeckID, deck.ConfigurationID)
        {
            Name = Name,
            CSS = model.CSS,
            LatexPostExpression = model.LatexPostExpression,
            LatexPreExpression = model.LatexPreExpression,
            Tags = string.Join(' ', model.Tags),
            Font = model.Fields.First().Font,
            FontSize = model.Fields.First().FontSize,
            SortField = model.Fields[model.SortField].Name,
            Fields = string.Join(';', model.Fields.FindAll(field => field.Name != "KanjiStrokes" && field.Name != "KanjiAudio" ).ConvertAll(field => field.Name).ToArray()),
            QuestionAnswerTemplate = (model.Templates[0].QuestionFormat + '|' + model.Templates[0].AnswerFormat).Replace("{{FrontSide}} <hr id=answer>", "").Replace("{{hint:KanjiStrokes}}", "").Replace("{{KanjiAudio}}", ""),
            QuestionAnswerTemplateReversed = (model.Templates[1].QuestionFormat + '|' + model.Templates[1].AnswerFormat).Replace("{{FrontSide}} <hr id=answer>", "").Replace("{{hint:KanjiStrokes}}", "").Replace("{{KanjiAudio}}", ""),
            OrderNewAndReview = configuration.OrderNewAndReview,
            TimeForLookahead = configuration.TimeForLookahead,
            TimeForShowingReviewedCards = configuration.TimeForShowingReviewedCards,
            MaximumDueForNewCard = configuration.MaximumDueForNewCard,
            ShowNextReviewTime = configuration.ShowNextReviewTime,
            SortBackwards = configuration.SortBackwards,
            AddToCurrent = configuration.AddToCurrent,
            Collapsed = deck.Collapsed,
            Description = deck.Description,
            Autoplay = deckConfiguration.Autoplay,
            ShowTimer = deckConfiguration.ShowTimer == 0,
            ReplayOnAnswer = deckConfiguration.ReplayAudioOnAnswer,
            TimerMaximum = deckConfiguration.TimerMaximum
        };
        editContext = new(ankiConfig);
        await base.OnInitializedAsync();
    }

    private async void HandleValidSubmit()
    {
        if (editContext.Validate())
        {
            if (useKanjiAudio != kanjiAliveDataService.IsEnabledAudio(Name))
                if (useKanjiAudio)
                    await kanjiAliveDataService.EnableKanjiAudio(Name);
                else
                    await kanjiAliveDataService.DisableKanjiAudio(Name);
            if (useKanjiStrokes != kanjiAliveDataService.IsEnabledStrokes(Name))
                if (useKanjiStrokes)
                    await kanjiAliveDataService.EnableKanjiStrokes(Name);
                else
                    await kanjiAliveDataService.DisableKanjiStrokes(Name);
            collection.Models = ankiConfig.GetModels(useKanjiStrokes, useKanjiAudio);
            collection.Configuration = ankiConfig.GetConfiguration();
            collection.Decks = ankiConfig.GetDecks();
            collection.DeckConfigurations = ankiConfig.GetDeckConfigurations();
           // collection.SchemaModificationTime = DateTimeOffset.Now.ToUnixTimeMilliseconds();
           // collection.ModificationTime = DateTimeOffset.Now.ToUnixTimeMilliseconds();
            ankiService.UpdateCollectionInformation(ankiConfig.Name, collection);
            await ankiService.Save(ankiConfig.Name);
            submitted = true;

            StateHasChanged();
        }
    }

    private void GoToDeck()
    {
        NavigationManager.NavigateTo($"notes/{ankiConfig.Name}");
    }
}
