﻿@page "/"
@inject NavigationManager NavManager
@using Microsoft.AspNetCore.WebUtilities;

<h1>Create your Anki Deck here</h1>
<p>
    This page enables you to create <a href="https://apps.ankiweb.net/">Anki</a> notes and decks in the browser.<br />
    Additionally it maps your entered notes to data from <a href="https://github.com/kanjialive/kanji-data-media">Kanji-alive</a> to provide the stroke order and audio files to practice pronunciation.<br />
    You are able to continue your work at an later point in time or download an apkg file to import your notes into your local Anki installation.
</p>
<p>
    The source code of this page can be found on <a href="https://gitlab.com/MichaelSchmitz/ankiwebcreator">GitLab</a>.
</p>
@if (errorMessage != "")
{
    <div class="alert alert-danger">@errorMessage</div>
}

@code {
    string errorMessage = "";

    protected override void OnInitialized()
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("message", out var _errorMessage))
        {
            errorMessage = _errorMessage;
        }
    }
}