﻿@page "/notes/{name}"
@attribute [Authorize]

@using AnkiDB.Services
@using AnkiDB.Models
@using System.Timers
@using AnkiWebCreator.Data
@inject AnkiService AnkiService
@inject KanjiAliveDataService kanjiAliveDataService
@inject NavigationManager NavigationManager

<button class="btn btn-primary float-right align-items-center d-flex" @onclick="OpenEditForDeck"><span class="oi oi-cog" />Configure deck</button>

<h1>Edit notes for deck @Name</h1>

<Modal @ref="modal" Title="Do you really want to proceed?" SuccessText="Continue" SuccessCallback="NavigateToEdit">
    <p>
        If you proceed, all entered and unsaved data on this site will be lost.
    </p>
</Modal>

@if (notes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm EditContext="editContext" OnValidSubmit="Save">
        <div class="row pb-2 text-right">
            @foreach (var field in fields)
            {
                if (field != "KanjiStrokes" && field != "KanjiAudio")
                {
                    <div class="col-lg-2 col-sm-6">@field</div>
                }
            }
            <div class="col-lg-2 col-sm-6">Tags (space separated)</div>
        </div>

        @if (notes.Count == 0)
        {
            <div class="row pb-2">
                <div class="col-12">No entries available, add one with the button below.</div>
            </div>
        }
        else
        {
            <div class="list">
                <Virtualize Items="@notes" Context="note" ItemSize="46">
                    <NoteEntry @key="note.GUID" Name="@Name" Value="@note" Fields="@fields" />
                </Virtualize>
            </div>
        }

        <div class="float-right mt-3">
            <button class="btn btn-primary" @onclick="Add" type="button">Add new entry</button>
            <button type="submit" class="btn btn-primary">Save</button>
            <button class="btn btn-primary"><a href="@GetDownloadLink()" class="text-white" download>Download apkg</a></button>
        </div>
    </EditForm>
    @if (Message != null)
    {
        <div class="alert alert-info mt-3 col-lg-2 col-sm-6">@Message</div>
    }
}

@code {
    [Parameter]
    public string Name { get; set; }

    private List<Note> notes;
    private EditContext editContext;
    private List<string> fields;

    private string Message;
    private List<string> previousTags;
    private long modelID;
    private long deckID;
    private Modal modal;
    private Timer timer;

    protected override async Task OnInitializedAsync()
    {
        await LoadDeck();
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadDeck();
    }

    private async Task LoadDeck()
    {
        timer = new Timer(2500);
        timer.Elapsed += async (_, _) =>
        {
            Message = null;
            await InvokeAsync(StateHasChanged);
        };
        timer.AutoReset = false;
        await AnkiService.Init(Name);
        Message = null;
        notes = await AnkiService.GetNotes(Name);
        notes.Reverse();
        editContext = new EditContext(notes);
        var collectionInformation = await AnkiService.GetCollectionInformation(Name);
        fields = collectionInformation.Models.First().Value.Fields.ConvertAll(field => field.Name);
        modelID = collectionInformation.Models.First().Key;
        deckID = collectionInformation.Decks.First().Key;
    }

    private void Add()
    {
        notes.Insert(0, new Note
        {
            ID = DateTimeOffset.Now.ToUnixTimeMilliseconds(),
            GUID = Guid.NewGuid().ToString(),
            ModelID = modelID,
            Data = "",
            Tags = "  ",
        });
        Message = null;
        StateHasChanged();
    }

    private async Task Save()
    {
        if (editContext.IsModified())
        {
            Message = "Beginning save";
            var newCardsCount = 0;
            foreach (var note in notes)
            {
                if (note.FieldValues != default)
                {
                    if (kanjiAliveDataService.IsEnabledStrokes(Name))
                        await SetKanjiStrokes(note);
                    if (kanjiAliveDataService.IsEnabledAudio(Name))
                        await SetKanjiAudio(note);

                    if (await AnkiService.CreateIfNew(Name, note, deckID, newCardsCount))
                    {
                        newCardsCount++;
                    }
                }
                else
                {
                    Message = "Warning: Note with tags only is not saved.";
                }
            }

            await AnkiService.Save(Name);

            if (Message == "Beginning save")
                Message = "Saved";
            editContext.MarkAsUnmodified();
        }
        else
        {
            Message = "Nothing to save";
        }
        timer.Start();
    }

    private string GetDownloadLink()
    {
        return $"download/{Name}.apkg";
    }

    private void OpenEditForDeck()
    {
        if (editContext.IsModified())
        {
            modal.Toggle();
        }
        else
        {
            NavigateToEdit();
        }
    }

    private async Task SetKanjiStrokes(Note note)
    {
        var fieldValues = note.FieldValues.Split('\x1f').ToList();
        var kanji = fieldValues[0];
        var file = kanjiAliveDataService.GetStrokesFileName(kanji);
        if (file != "")
        {
            fieldValues[fields.FindIndex(field => field == "KanjiStrokes")] = $"<img src=\"{file}\" />";
            note.SetFields(fieldValues);
            await AnkiService.AddMediaFile(Name, "kanjiStrokes", file);
        }
    }

    private async Task SetKanjiAudio(Note note)
    {
        var fieldValues = note.FieldValues.Split('\x1f').ToList();
        var kanjiWithReading = fieldValues[1];
        var files = kanjiAliveDataService.GetAudioFileNames(kanjiWithReading);
        if (files.Count != 0)
        {
            var sounds = "";
            foreach (var file in files)
            {
                await AnkiService.AddMediaFile(Name, "kanjiAudio", file);
                sounds += $"[sound:{file}]";
            }
            fieldValues[fields.FindIndex(field => field == "KanjiAudio")] = sounds;
            note.SetFields(fieldValues);
        }
    }

    private void NavigateToEdit()
    {
        NavigationManager.NavigateTo($"deck/edit/{Name}");
    }
    }
